<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{tab.title}">_offline_</title>

</head>
<body>
    <h3 th:text="#{page.title}">Offline title</h3>
    <h4 th:text="#{page.subtitle}">Offline subtitle</h4>

    <form action="give.phrase" method="GET">
        <select name="phrase_category">
            <option value="bullshit">Bullshit</option>
            <option value="management">Management</option>
        </select>
        <input type="submit" th:value="#{get.phrase.btn}" value="_offline_"/>
    </form>

    <h4 th:text="#{'phrase.' + ${phrase_type} + '.' + ${phrase_num}}">_phrase placeholder_</h4>
</body>
</html>